.company_row {
  display: grid;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #c7c7c7;
  height: 62px;
  grid-template-columns: auto 3fr 3fr 2fr 2fr 42px 2fr;
  align-items: center;
}

.company_label {
  display: grid;
  grid-template-columns: 39px 120px 7fr;
  align-items: center;
}

.company_img {
  height: 100%;
}

.company_info {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.company_city,
.company_name {
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}

.company_name {
  color: #f25627;
  text-decoration: underline;
}

.price::after {
  content: " ₽";
}

.company_item {
  font-size: 14px;
}

.save{
    font-family: "Manrope", sans-serif;
    padding: 12px 20px 10px 20px;
    border-radius: 5px;
    background-color: rgba(242, 86, 39, 1);
    color: white;
    outline: none;
    border: none
}

.button_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20%;
    margin-top: 53px
}

.delete{
    font-family: "Manrope", sans-serif;
    background-color: unset;
    color: rgba(242, 86, 39, 1);
    outline: none;
    border: none
}

.company_city {
  color: #8e8e8e;
}

.logo {
  width: 90px;
}

.shipping {
  display: grid;
  height: 100%;
}

.shipping .price {
  align-self: end;
}

.shipping::after {
  content: "";
  display: block;
  height: 5px;
  border-radius: 3px 3px 0px 0px;
  width: 113px;
  align-self: end;
}

.green::after {
  background-color: #6ca695;
}

.yellow::after {
  background-color: #ffd964;
}

.company_more {
  row-gap: 7px;
  background-color: #f5f6f8;
  max-height: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 0.5s cubic-bezier(0, 1, 0, 1);
}

.company_more:not(.active) * {
    display: none;
  }

.company_more.active{
    border: 1px solid #eff0f4;
    max-height: max-content;
    display: grid;
    padding: 7px 27px 20px 27px;
}


